$header-height: 68px;
$white: #FFF;
$black: #000;
$gray-bg: #CCC;
$base-red: #FF3232;
$orange: #FFA500;
$headline-red: #F95252;
$select-box-border: #4169E1;
$select-box-toggle: #F0F8FF;
$form-color: #777;
$form-bg: #EEE;
$submit-btn: #33CC77;
$submit-btn-hover: #28AD63;
$wrapper-bg: #FFF8DC;
