@import "/mixins/common-mixins";

.contact {
  &__wrapper {
    @include static-wrapper;

    &--confirm, &--complete {
      @include static-wrapper;
      height: 100vh;
    }
  }

  &__container {
    @include static-container;

    p {
      margin-top: 20px;
    }

    a {
      display: block;
      text-align: center;
      margin-top: 50px;
    }
  }

  &__confirm {
    @include table;
    margin-top: 30px;
  }

  &__submit-btn {
    @include submit-btn;
  }
}
