@import "/mixins/common-mixins";

.emoney {
  &__wrapper {
    @include static-wrapper;
  }

  &__container {
    @include static-container;

    p {
      margin-top: 20px;
    }

    a {
      display: block;
      text-align: center;
      margin-top: 50px;
    }
  }

  &__submit-btn {
    @include submit-btn;
  }
}
