@import "/variables";

.form {
  h2 {
    background: $headline-red;
    border-radius: 20px 20px 0 0;
    color: $white;
    font-size: 28px;
    padding: 20px 26px 20px 40px;
    margin: 0;
  }

  fieldset {
    background: $white;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;

    input {
      border-radius: 3px;
      border: none;

      &[type="email"], &[type="text"], &[type="password"], &[type="password_confirmation"] {
        background: $form-bg;
        color: $form-color;
        padding: 10px;
        width: 100%;
      }

      &[type="submit"] {
        background: $submit-btn;
        color: $white;
        display: block;
        margin: 35px auto 0;
        padding: 4px 0;
        width: 120px;

        &:hover {
          background: $submit-btn-hover;
        }
      }
    }

    textarea {
      background: $form-bg;
      color: $form-color;
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      border: none;
    }
  }

  div {
    &:not(:first-of-type) {
      margin-top: 25px;
    }

    p {
      color: $form-color;
      margin: 0;
    }
  }
}
