@import "/mixins/common-mixins";

.keeplist {
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__wrapper {
    @include wrapper;
  }

  &__container {
    @include container;
  }

  &__no-keep-wrapper {
    @include one-page-wrapper;
  }

  &__no-keep-container {
    @include one-page-container;
    text-align: center;
  }
}
