@import "/mixins/common-mixins";

.login {
  &__wrapper {
    @include one-page-wrapper;
  }

  &__container {
    @include one-page-container;
  }

  &__link-area {
    margin-top: 30px;

    p {
      font-size: 18px;
      text-align: center;
    }
  }
}
