@import "/mixins/common-mixins";

.shops {
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    @include select-box;
    margin-top: 15px;
  }

  &__container {
    @include container;
  }

  &__search-area {
    font-size: 20px;
    background: #FFF0F5;
    border: solid 1px $base-red;
    border-radius: 30px;
    margin-top: 15px;
    padding: 25px;

    img {
      width: 50px;
    }

    &--checkbox {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      margin-top: 30px;

      input {
        transform: scale3d(1.5, 1.5, 1.5);
      }
    }
  }

  &__search-result {
    font-size: 20px;
    margin-top: 50px;

    span {
      font-size: 28px;
      color: $base-red;
    }
  }

  &__restaurant {
    font-size: 15px;
    color: #5d627b;
    line-height: 1.8;
    margin-top: 50px;
    padding: 50px;
    background: $white;
    border-top: solid 6px $base-red;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);

    @media screen and (max-width: 767px) {
      width: 96%;
      margin: 15px auto 30px;
      padding: 45px 15px 40px;

      &::before {
        margin: 0 -15px;
      }
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
      margin: 0;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  &__restaurant-top {
    display: flex;
    margin-top: 30px;
  }

  &__usable-emoney {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    p {
      height: 100%;
      background-color: #FFDBC9;
      margin-top: -15px;
      padding: 15px;
    }
  }

  &__recommend-header {
    width: 160px;
    background-color: #FFF0F5;
    font-size: 14px;
    border: 1.5px solid #FFABCE;
    border-radius: 8px;
    display: inline-block;
    z-index: 999;

    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url(/assets/shops/bulb.png);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
  }

  &__restaurant--bottom {
    @include table;
  }

  &__search-btn {
    @include search-btn;
    display: block;
    margin: 20px auto 0;
  }
}
