<div class="contact__wrapper--complete">
  <div class="contact__container">
    <h2>お問い合わせ送信完了</h2>
    <p>お問い合わせいただきありがとうございました。<br>
       折り返し、担当者よりご連絡いたしますので、恐れ入りますが、しばらくお待ちください。</p>
    <%= link_to 'ペイつかトップに戻る', root_path %>
  </div>
</div>
