.form {
  h2 {
    background: #f95252;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px 20px 40px;
    margin: 0;
  }

  fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;

    input {
      border-radius: 3px;
      border: none;

      &[type="email"], &[type="text"], &[type="password"], &[type="password_confirmation"] {
        background: #eee;
        color: #777;
        padding: 10px;
        width: 100%;
      }

      &[type="submit"] {
        background: #33cc77;
        color: #fff;
        display: block;
        margin: 35px auto 0;
        padding: 4px 0;
        width: 120px;

        &:hover {
          background: #28ad63;
        }
      }
    }

    textarea {
      background: #eee;
      color: #777;
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      border: none;
    }
  }

  div {
    &:not(:first-of-type) {
      margin-top: 25px;
    }

    p {
      color: #777;
      margin: 0;
    }
  }
}
