header {
  .navbar {
    background-color: #ff3232;

    a {
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }

    .navbar-brand {
      font-size: 28px;
    }

    .navbar-nav {
      .nav-link {
        opacity: 0.9;
      }
    }

    .navbar-toggler {
      border: none;

      .icon-bar {
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        margin: 4px 0;
        background-color: #fff;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      width: 125px;
      height: 35px;
      background-color: #fff;
      text-align: center;
      margin: 0 10px;

      a {
        color: #000 !important;
        vertical-align: -webkit-baseline-middle;

        &:hover {
          opacity: 0.6;
          text-decoration: none;
        }
      }
    }
  }
}
