.service {
  &__wrapper {
    background-color: #FFF8DC;
    margin-top: 68px;
    padding: 100px 0;
  }

  &__container {
    width: 960px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 20px 20px 0;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 0 20px;
    }

    h2 {
      color: #f95252;
      padding-left: 30px;
      padding-bottom: 10px;
      border-bottom: 5px dotted #f95252;
      margin-top: 0;

      @media screen and (max-width: 767px) {
        font-size: 17px;
        padding-left: 20px;
        margin-bottom: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        padding: 20px 0;

        &:not(:first-of-type) {
          border-top: 1px dotted #f95252;
        }

        img {
          width: 300px;
        }
      }
    }
  }

  &__item {
    margin-left: 15px;

    h3 {
      margin: 0;
    }

    p {
      margin: 15px 0 0;
    }
  }
}
