.shops {
  h1 {
    font-size: 28px;
    margin-left: 10px;

    span {
      font-size: 50px;
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }

  form {
    img {
      width: 100%;
      height: 300px;
    }
  }

  select {
    /* styling */
    background-color: #fff;
    border: thin solid #4169e1;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, #4169e1 50%),
      linear-gradient(135deg, #4169e1 50%, transparent 50%),
      linear-gradient(to right, #f0f8ff, #f0f8ff);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;

    &:focus {
      background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, gray, gray);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
      border-color: grey;
      outline: 0;
    }
  }

  &__container {
    padding: 60px 180px;
    background-color: #fffff0;
  }

  &__search-area {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-top: 30px;

    img {
      width: 50px;
    }

    form {
      display: flex;
      justify-content: space-between;
      margin-left: 45px;
    }
  }

  &__title {
    color: inherit;

    &:hover, &:focus {
      text-decoration: none;
      color: inherit;
    }
  }

  &__restaurants-area {
    margin-top: 30px;
  }

  &__restaurant {
    margin-top: 30px;
    font-size: 15px;
    border: solid 2px #ccc;
    background-color: white;
    color: black;
    line-height: 1.8;
    margin: 20px 0 50px;
    padding: 50px 60px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      border-top: solid 6px #ff3232;
      width: 100%;
      top: 0;
      margin: 0 -60px;
    }

    @media screen and (max-width: 767px) {
      width: 96%;
      margin: 15px auto 30px;
      padding: 45px 15px 40px;

      &::before {
        margin: 0 -15px;
      }
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
      margin: 0;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }

      span {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
      color: #ff3232;
    }

    h5 {
      font-size: 16px;
      margin: 10px 0 0;
      line-height: 1.5;
    }

    p {
      margin: 0;
    }

    dl {
      margin: 30px 0 0;
    }

    dt {
      font-weight: normal;
    }

    hr {
      border:none;
      border-top: 2px dotted #B3B3B3;
      width: 100%;
      height: 2px;
      margin: 50px 0 0 0;
    }

    .col-md-10,
    .col-xs-8 {
      float: none;
      padding: 0;
    }

    &__new-label {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 60px;
      margin: 0;
      z-index: 2;
      width: 60px;
      line-height: 25px;
      text-align: center;
      color: white;
      background: #3296D4;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        height: 0;
        width: 0;
        border-left: 30px solid #3296D4;
        border-right: 30px solid #3296D4;
        border-bottom: 7px solid transparent;
      }

      @media screen and (max-width: 767px) {
        left: 15px;
      }
    }

    &__image {
      width: 49%;
      height: 100%;
      float: left;

      @media screen and (max-width: 992px) {
        width: 100%;
        float: none;
      }

      @media print {
        width: 48%;
        display: inline-block;
      }
    }

    &__show-image {
      width: 80%;
      height: auto;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }

  &__restaurant-top {
    display: flex;
    margin-top: 30px;
  }

  &__usable-emoney {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    p {
      height: 100%;
      background-color: #FFDBC9;
      margin-top: -15px;
      padding: 15px;
    }
  }

  &__recommend-header {
    width: 160px;
    background-color: #FFF0F5;
    font-size: 14px;
    border: 1.5px solid #FFABCE;
    border-radius: 8px;
    display: inline-block;
    z-index: 999;

    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url(/assets/shops/bulb.png);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
  }

  // ドット区切りの表（タイトルエリアにアイコン表示する場合はmargin-leftを指定）
  &__restaurant--bottom {
    p {
      word-break: break-all;
    }

    dl {
      margin-top: 15px;
      padding-bottom: 15px;
      border-bottom: 2px dotted #B3B3B3;
      display: flex;

      dt {
        width: 15%;
        font-weight: normal;
        @media screen and (max-width: 767px) {
          width: 25%;
        }
      }

      dd {
        width: 85%;
        margin: 0;

        p {
          margin: 0 10px;
          line-height: 1.8;
        }

        @media screen and (max-width: 767px) {
          width: 65%;
        }
      }
    }
  }

  &__search-button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #6495ed;
    border: solid 2px #6495ed;
    border-radius: 3px;
    transition: .4s;
    margin-left: 45px;

    &:hover {
      background: #67c5ff;
      color: white;
    }
  }

  .col-md-5 {
    label {
      font-size: 24px;
      font-weight: bold;
    }

    select {
      width: 100%;
      margin-top: 15px;
    }
  }

  .col-md-2 {
    font-size: 220px;
    text-align: center;
  }

  .col-md-12 {
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
  }
}
