<p><%= @resource.email %>様</p>

<p>パスワードの変更が要求されました。以下のリンクから変更手続きをお願いいたします。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし変更を要求していない場合は、お手数ですが、本メールはご放念ください。</p>
<p>上記リンクから新たなパスワードを設定しない限り、パスワードは変更されません。</p>
