<div class="emoney__wrapper">
  <div class="emoney__container">
    <h2>電子マネー編集</h2>
    <p>電子マネー情報を変更し、更新ボタンを押してください。</p>
    <%= render "form", emoney: @emoney, url: emoney_path(@emoney), categories: @categories %>
  </div>
</div>
