<div class="emoney__wrapper">
  <div class="emoney__container">
    <h2>電子マネー一覧</h2>
    <%= link_to "電子マネーを追加する", new_emoney_path %>
    <% @emoneys.each do |emoney| %>
      <%= link_to emoney_path(emoney) do %>
        <%= emoney.name %>
        <%= desplay_image(emoney) %>
      <% end %>
    <% end %>
  </div>
</div>
