<div class="emoney__wrapper">
  <div class="emoney__container">
    <h2>電子マネー追加</h2>
    <p>追加したい電子マネー情報を入力し、追加ボタンを押してください。</p>
    <%= render "form", emoney: @emoney, url: emoney_index_path, categories: @categories %>
  </div>
</div>
